#video {
    display: block;
    margin: 0 auto;
}

.pic-wrapper {
    text-align: center;
    font-size: 20px;
}

.pic-wrapper img {
    width: 250px;
    height: 200px;
    float: left;
    padding: 20px;
}
