.pic-wrapper {
    width: 250px;
    text-align: center;
    font-size: 20px;
}

.pic-wrapper img {
    width: 250px;
    height: 200px;
    float: left;
}

.cat-desc {
/*    top:-210px;*/
    width: 250px;
    display: none;
    border: 1px solid black;
}