.container {
   width: 100%; 
}

.cat-desc {
    position: relative;
    width: 252px;
    border: 1px solid black;
    padding: 0; !important;
    height: 450px;
    color: white;
    margin: 3%;
    text-align: center;
}

.author-header img {
    width: 100%;
    height: 165px;
}

.author-footer {
    position: absolute;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.author-description {
    height: 120px;
    overflow-y: auto;
}