.container {
   width: 100%; 
}

.cat-desc {
    position: relative;
    width: 252px;
    border: 1px solid black;
    padding: 0; !important;
    height: 450px;
    background-color: black;
    color: white;
    margin: 3%;
    text-align: center;
}

.author-header img {
    width: 100%;
    height: 165px;
}

.author-footer {
    position: absolute;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.author-footer .btn-warning {
    color: black;
}

.author-description {
    height: 120px;
    overflow-y: auto;
}

.status {
    margin: 6px;
    padding: 6px;
    color: black;
    font-size:16px;:
}

.free {
    background-color: white;
}

.bronze {
    background-color: #CD7F32;
}

.silver {
    background-color: silver;
}

.gold {
    background-color: #ffd700;
}
