html *
{
    font-size: 20px;
    font-weight: 700;
    -webkit-border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
    border-radius: 15px 15px 15px 15px;
}

body {
    background-color: #1435AD;
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
}

#video {
    display: block;
    margin: 0 auto;
}

#category-container {
    padding-left: 50px;
}

.main-cat {
    padding: 100px 0 0 0;
}

.arrow {
    position: absolute;
    overflow: auto;
    margin: auto;
}

.arrow a, .footer a {
    text-decoration: none;
    color: #FF4900;
}

.arrow a:hover {
    color: #FFF700; 
}

.footer a:hover {
    color: #FFF700; 
}

.arrow-left {
    left: 0;
    top: 50%;
}

.arrow-right {
    right: 0;
    top: 50%;
}

.arrow-up {
    top: 70px;
    left: 50%;
}

.arrow-down {
    bottom: 0;
    left: 50%;
}

.pic-wrapper {
    width: 250px;
    text-align: center;
}

.pic-wrapper img {
    width: 250px;
    height: 200px;
    float: left;
}

h1, h2, h3, h4 {
    color: #FF4900;
    font-weight: bold; 
}

.btn {
    padding-left: 2px;
    padding-right: 2px;
    font-size: 20px;
    font-weight: 700;
    -webkit-border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
    border-radius: 15px 15px 15px 15px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  /*margin: auto;*/
  height: 35px;
  background-color: black;
}

.footer a {
    margin: auto;
    padding: 20px 20px 20px 100px;
}

.index-navbar {
    width: 100%;
}

.index-navbar button {
    float: right;
    margin-right: 32px;
}

.btn {

    padding-top: 7px;
}

.user-info {
   position: absolute;
   right: 20px;
   top: 52px;
   width: 192px;
   display: none;
}

.cabinet {
    width: 199px;
}

.user-info {
   position: absolute;
   right: 32px;
   top: 52px;
   width: 199px;
   display: none;
}

.user-info .btn-group-vertical {
    width: 195px;
}

.user-info img {
    width: 199px;
    height: 120px;
    -webkit-border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
    border-radius: 15px 15px 15px 15px;
}

.user-info .btn {
    width: 199px;
    color: #FF4900;
    background-color: black;
}

.user-info .btn:hover {
    color: #FFF700;
}

#cabinet {
    width: 192px;
    text-align: center;
    background-color: white;
    color: black;
}

.navbar-right {
    margin-right: 0;
}
