/*body {
    background-image: url('/static/images/logo.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-color: #A9A9AB;
}*/

.index-navbar {
    width: 100%;
}

.index-navbar button {
    float: right;
    margin-right: 32px;
}

.btn {
    font-size: 18px;
}
