html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.demo h1 {
  margin-top: 0;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  overflow: auto;
  margin: auto;
  height: 63px;
  background-color: black;
  border-style: solid;
  border-width: 3px;
  border-color: gray;
}

.footer a {
    padding: 20px 20px 20px 100px;
    color: white;
    font-size: 20px;
}

.index-navbar {
    width: 100%;
}

.index-navbar button {
    float: right;
    margin-right: 32px;
}

.btn {
    font-size: 14px;
    padding-top: 7px;
}


		
