// Modifier class for 1:1 aspect ratio
.embed-responsive-1by1 {
  padding-bottom: percentage((1 / 1)); // 100%;
}

// Modifier class for 4:3 aspect ratio
.embed-responsive-4by3 {
  padding-bottom: percentage((3 / 4)); // 75%;
}

// Modifier class for 16:9 aspect ratio
.embed-responsive-16by9 {
  padding-bottom: percentage((9 / 16)); // 56.25%;
}

// Modifier class for 21:9 aspect ratio
.embed-responsive-21by9 {
  padding-bottom: percentage((9 / 21)); // 42.85%;
}

// Ignore this...
.container {
  max-width: 940px;
}

.jumbotron {
  margin-top: 10px;
  padding: 10px 0 25px;
  h1 {
    font-size: 35px;
  }
}

#main-video {
    padding-bottom:100px;
}

.pic_wrapper img {
    width: 250px;
    height: 200px;
    float: left;
    padding: 10px;
}

.video_wrapper {
    padding-bottom: 200px;
}
