h2 {
	color: #FF4900;
	text-align: center;
}

.profile-left img {
	padding: 2px;
	padding-bottom: 15px;
}

.profile-left input {
	padding: 2px;
}

.profile-left .btn {
	text-align: center;
}

.profile-right h4 {
	text-align: center;
}

.max-width {
	width: 100%;
}

h2, h4 {
	color: #FFF700;
}
