body {
    background: url(/static/images/right-back.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}

.stream {
    padding-left: 10px;
    float: left;

}

.stream img {
    width: 130px;
    height: auto;
}

.stream span {
    font-size: 40px;
}

#audio-streaming {
    width:80%;
}

.audio-wrapper img {
    width: 150px;
    float: left;
    padding: 10px;
}

.audio-wrapper {
    float: left;
    width: 150px;
    text-align: center;
}

#audio-screen img{
    width: 610px;
    height: 330px;
}