.stream {
    padding-left: 10px;
    float: left;
}

.stream img {
    width: 130px;
    height: auto;
}

.stream span {
    font-size: 40px;
}

.pic-default {
    padding: 10px; 
}

.pic-default img { 
    width: 230px;
    height: 150px;
    padding: 15px;
}

.jcarousel-wrapper {
    margin: 0 auto;
}

