.streaming-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 220px;
}

.stream {
    width: 250px;
    height: 200px;
    padding-left: 20px;
    float: left;
}
