{% extends "main.html" %}
{% block head %}
    <link href="/static/css/author.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <video id="video" class="center-video" controls autoplay>
        <source src="/static/video/dance.webm" type="video/webm">
    </video>

    <div class="container">
        <div class="row">
            {% for video in videos %}
                <div class="col-sm-3 col-xs-3">
        		    <div class="pic-wrapper">
                 		<a href="{{ video.video_url }}"> <img src="{{ video.thumbnail }}">{{ video.title }}</a>
        		    </div>
    		    </div>
    		    
        		{% if forloop.counter|divisibleby:4 %}
        		    </div><div class="row">
        		{% endif %}
	        {% endfor %}
        </div>
    </div>
{% endblock %}
