{% extends "main.html" %}
{% block head %}
    <link href="/static/css/category.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">
	<div class="row">
	    {% for author in authors %}
		<div class="col-xs-3 cat-desc">
		    <div class="author-header">
       	        	<h2> {{ author.title }} </h2>
		        <a href="/video_storage/{{ author.id }}">
			    <img src="{{ author.image.url }}">
			</a>
			<h4>{{ author.profession }}</h4>
	  	</div>
					
		<div class="author-description">
            	    {% autoescape off %}
		        {{ author.description }}
		    {% endautoescape %}
		</div>
					
		<div class="author-footer">
		    <p><span class="{{ author.status }} status label label-xs">{{ author.status }}</span></p>
		    <p><button type="button" class="btn btn-warning">Получить доступ</button></p>
		</div>
	    </div>
				
	    {% if forloop.counter|divisibleby:4 %}
                </div><div class="row">
	    {% endif %}
	{% endfor %}
    </div>
</div>
{% endblock %}
