{% extends "main.html" %}
{% block head %}
    <link href="/static/css/category.css" rel="stylesheet">
{% endblock %}

{% block content %}
	<div class="container">
		<div class="row">
		    {% for author in authors %}
				<div class="col-xs-2 cat-desc">
					<div class="author-header">
				        <h3> {{ author.title }} </h3>
				        <a href="/author/{{ author.id }}"><img src="{{ author.image.url }}"><h3>{{ author.name }}</h3></a>
						<h3>{{ author.profession }}</h3>
					</div>
					
					<div class="author-description">
						{% autoescape off %}
						  {{ author.description }}
						{% endautoescape %}
					</div>
					
					<div class="author-footer">
						<p><span class="{{ author.status }} status label">{{ author.status }}</span></p>
						<p><button type="button" class="btn btn-danger btn-sm">Получить доступ</button></p>
					</div>
				</div>
				
				{% if forloop.counter|divisibleby:4 %}
        		    </div><div class="row">
        		{% endif %}
		    {% endfor %}
	    </div>
    </div>
{% endblock %}
