{% extends "main.html" %}
{% block content %}
    <div id="category-container">
        <div class="row">
            <div class="col-md-3 main-cat"><button type="button" class="btn btn-primary btn-lg">Категория 1</button></div>
            <div class="col-md-3 main-cat"><button type="button" class="btn btn-primary btn-lg ">Категория 2</button></div>
            <div class="col-md-3 main-cat"><button type="button" class="btn btn-primary btn-lg ">Категория 3</button></div>
            <div class="col-md-3 main-cat"><button type="button" class="btn btn-primary btn-lg ">Категория 4</button></div>
        </div>

        <div class="row">
            <div class="col-md-3 main-cat"><button type="button" class="btn btn-primary btn-lg">Категория 5</button></div>
            <div class="col-md-3 main-cat"><button type="button" class="btn btn-primary btn-lg">Категория 6</button></div>
            <div class="col-md-3 dropdown main-cat">
                <button type="button" class="btn btn-primary btn-lg dropdown-toggle" data-toggle="dropdown">
                    Категория 7<span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="/subcategory">Подкатегория 1</a></li>
                    <li><a href="#">Подкатегория 2</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Подкатегория 3</a></li>
                </ul>
            </div>
            <div class="col-md-3 main-cat"><button type="button" class="btn btn-primary btn-lg ">Категория 8</button></div>
        </div>

        <div class="row">
            <div class="col-md-3 main-cat"><button type="button" class="btn btn-primary btn-lg ">Категория 9</button></div>
            <div class="col-md-3 main-cat"><button type="button" class="btn btn-primary btn-lg ">Категория 10</button></div>
            <div class="col-md-3 main-cat"><button type="button" class="btn btn-primary btn-lg ">Категория 11</button></div>
            <div class="col-md-3 main-cat"><button type="button" class="btn btn-primary btn-lg ">Категория 12</button></div>
        </div>
    </div>
{% endblock %}
