{% extends "main.html" %}
{% block head %}
    <link href="/static/css/left.css" rel="stylesheet">

    <script src="/static/js/left.js"></script>
{% endblock %}

{% block content %}
    <video id="video" class="center-video" controls>
        <source src="/static/video/suddenly.webm" type="video/webm">
    </video>
    <br>
    
    <div class="container">
        <div class="row">
            {% for category in categories %}
                <div class="col-md-2">
                    <div class="dropdown">
                        <a role="button" data-toggle="dropdown" class="btn btn-default btn-lg btn-block" 
                            data-target="#{{ category.id }}" href="/category/{{ category.id }}/{{ category.url }}" id="menu{{ category.id }}">
                            {{ category.title }} {% if category.has_children %} <span class="caret"></span> {% endif %}
                        </a>
                        {% if category.has_children %}
                        <ul class="dropdown-menu">
                            {% for subcategory in category.children %}
                                {% if subcategory.has_children %}
                                    <li class="dropdown-submenu">
                                        <a tabindex="-1" href="/category/{{ subcategory.id }}/{{ subcategory.url }}">{{ subcategory.title }}</a>
                                        <ul class="dropdown-menu">
                                            {% for sub2cat in subcategory.children %}
                                                <li><a href="/category/{{ sub2cat.id }}/{{ sub2cat.url }}">{{ sub2cat.title }}</a></li>
                                	        {% endfor %}
                                        </ul>
                                    </li>
                                {% else %}
                                    <li class="childless"><a tabindex="-1" href="/category/{{ subcategory.id }}/{{ subcategory.url }}">{{ subcategory.title }}</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-1"></div>
                {% if forloop.counter|divisibleby:4 %}
                    </div><div class="row">
                {% endif %}
            {% endfor %}
    	</div>
    </div>

    <div class="arrow arrow-right"><a href="/"><img src="/static/images/arrow_right.png"></a></div>
{% endblock %}
