{% extends "main.html" %}
{% block head %}
    <link href="/static/css/author.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="arrow arrow-left"><a href="/video_storage"><img src="/static/images/arrow_left.png"></a></div>
    <div class="arrow arrow-down"><a href="/down"><img src="/static/images/arrow_down.png"></a></div>
    <div class="arrow arrow-right"><a href="/streaming"><img src="/static/images/arrow_right.png"></a></div>
    <div class="arrow arrow-up"><a href="/up"><img src="/static/images/arrow_up.png"></a></div>
{% endblock %}
