<html lang="ru">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
        {% block meta %}
        
        {% endblock %} 

        <link href="/static/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/css/font-awesome.min.css" rel="stylesheet" />
	<link href="/static/css/style.css" rel="stylesheet" />
        <link href="/static/css/core.css" rel="stylesheet">

	<script src="/static/js/modernizr-2.6.2.min.js"></script>
        <script src="/static/js/jquery-3.1.0.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/arrows.js"></script>
        <script src="/static/js/core.js"></script>
        
        {% block head %}

        {% endblock %}
    </head>
<body>
<div class="content">
    <nav class="navbar navbar-inverse navbar-right index-navbar">
	<a href='/'> <img height="50" width="50" src='/static/images/logo.png'> </a>
	{% if user.is_authenticated %}
		    <button type="button" id="cabinet" class="btn btn-default cabinet navbar-btn dropdown-toggle"> {{ user.username }} </button>
		</nav>
		<div class='user-info'>
		    <img src="/static/images/user-pic-default.jpg">
		    <div class="btn-group-vertical">
				<button id="profile" type="button" class="btn">Личный кабинет</button>
				<button id="account" type="button" class="btn">Аккаунт</button>
				<button id="logout" type="button" class="btn">Выйти</button>
		    </div>
		</div>
	{% else %}
	        <button class="btn btn-default navbar-btn cabinet" id='modal-launcher' data-toggle="modal" data-target="#login-modal">Войти</button>
    	</nav>
    {% endif %}

    {% block content %}

    {% endblock %}
</div>
    
<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
    	<div class="modal-content">
      		<div class="modal-body login-modal">
      			<div id='social-icons-conatainer'>
	        		<div class='modal-body-left'>
	        			<div class="form-group">
		              		<input type="text" id="username" placeholder="Ваша почта" value="" class="form-control login-field">
		              		<i class="fa fa-user login-field-icon"></i>
		            	</div>

		            	<div class="form-group">
		            	  	<input type="password" id="login-pass" placeholder="Пароль" value="" class="form-control login-field">
		              		<i class="fa fa-lock login-field-icon"></i>
		            	</div>

		            	<a href="#" class="btn btn-primary modal-login-btn">Войти</a>
		            	<a href="#" class="login-link text-center">Забыли пароль?</a>
	        		</div>

	        		<div class='modal-body-right'>
	        			<div class="modal-social-icons">
	        				<a href='#' class="btn btn-default facebook" style="margin-top:0;"> <i class="fa fa-facebook modal-icons"></i> Войти через Facebook </a>
	        				<a href='#' class="btn btn-default twitter"> <i class="fa fa-twitter modal-icons"></i> Войти через Twitter </a>
	        				<a href='#' class="btn btn-default google"> <i class="fa fa-google-plus modal-icons"></i> Войти через Google+ </a>
	        				<a href='#' class="btn btn-default linkedin"> <i class="fa fa-vk modal-icons"></i> Войти через VK</a>
	        			</div>
	        		</div>
	        		<div id='center-line'> ИЛИ </div>
	        	</div>
        		<div class="clearfix"></div>

        		<div class="form-group modal-register-btn">
        			<button class="btn btn-default">Зарегистрироваться</button>
        		</div>
      		</div>
      		<div class="clearfix"></div>
            </div>
    	</div>
    </div>
</div>


</body>
</html>
