{% extends "main.html" %}
{% block head %}
    <link href="/static/css/right.css" rel="stylesheet">
    <script src="/static/js/right.js"></script>
{% endblock %}

{% block content %}
    <br><br>
    
    <div class="container">
    <video id="video" class="center-video" controls autoplay>
        <source src="/static/video/military.webm" type="video/webm">
    </video>

        {% for video_stream_set in video_stream_sets %}
            <div class="row">
                {% for video in video_stream_set.children %}
		    <div class="col-md-3 pic-default">
                        <a href="{{ video.stream_source }}">
                            <img src="{{ video.image.url }}">
                        </a>
		    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
    <div class="arrow arrow-left"><a href="/"><img src="/static/images/arrow_left.png"></a></div>
{% endblock %}
