{% extends "main.html" %}
{% block head %}
    <link href="/static/css/right.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="streaming-container container">
        <div class="row streaming-row">
            <div class="stream"><img src="/static/images/streaming_fake.png"></div>
            <div class="stream"><img src="/static/images/streaming_fake.png"></div>
            <div class="stream"><img src="/static/images/streaming_fake.png"></div>
            <div class="stream"><img src="/static/images/streaming_fake.png"></div>
            <div class="stream"><img src="/static/images/streaming_fake.png"></div>
        </div>

        <div class="row streaming-row">
            <div class="stream"><img src="/static/images/streaming_fake.png"></div>
            <div class="stream"><img src="/static/images/streaming_fake.png"></div>
            <div class="stream"><img src="/static/images/streaming_fake.png"></div>
            <div class="stream"><img src="/static/images/streaming_fake.png"></div>
            <div class="stream"><img src="/static/images/streaming_fake.png"></div>
        </div>

        <div class="row streaming-row">
            <div class="stream"><img src="/static/images/streaming_fake.png"></div>
            <div class="stream"><img src="/static/images/streaming_fake.png"></div>
            <div class="stream"><img src="/static/images/streaming_fake.png"></div>
            <div class="stream"><img src="/static/images/streaming_fake.png"></div>
            <div class="stream"><img src="/static/images/streaming_fake.png"></div>
        </div>

        <div class="row streaming-row">
            <div class="stream"><img src="/static/images/streaming_fake.png"></div>
            <div class="stream"><img src="/static/images/streaming_fake.png"></div>
            <div class="stream"><img src="/static/images/streaming_fake.png"></div>
            <div class="stream"><img src="/static/images/streaming_fake.png"></div>
            <div class="stream"><img src="/static/images/streaming_fake.png"></div>
        </div>

        <div class="row streaming-row">
            <div class="stream"><img src="/static/images/streaming_fake.png"></div>
            <div class="stream"><img src="/static/images/streaming_fake.png"></div>
            <div class="stream"><img src="/static/images/streaming_fake.png"></div>
            <div class="stream"><img src="/static/images/streaming_fake.png"></div>
            <div class="stream"><img src="/static/images/streaming_fake.png"></div>
        </div>
    </div>

    <div class="arrow arrow-left"><a href="/left"><img src="/static/images/arrow_left.png"></a></div>
{% endblock %}
