{% extends "main.html" %}
{% block head %}
    <link href="/static/css/right.css" rel="stylesheet">
    <script src="/static/js/right.js"></script>
{% endblock %}

{% block content %}
    <video id="video" class="center-video" controls autoplay>
        <source src="/static/video/military.webm" type="video/webm">
    </video>

    <div class="container">
    	<div class="row">
            {% for video_stream_set in video_stream_sets %}
                <div class="col-xs-3 col-sm-3 pic-default stream">
                    <a href="{{ video_stream_set.active_stream }}">
                        <img src="/media/{{ video_stream_set.pic }}">
                    </a>
                </div>
    
                {% if forloop.counter|divisibleby:4 %}
                    </div><div class="row">
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="arrow arrow-left"><a href="/"><img src="/static/images/arrow_left.png"></a></div>
{% endblock %}
