{% extends "main.html" %}
{% block head %}
    <link href="/static/css/author.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="row">
        <div class="pic_wrapper col-md-2">
            <a href="/author"><img src="/static/images/ch1.jpg"></a>
        </div>
        <div class="col-md-1"></div>

        <div class="pic_wrapper col-md-2">
            <a href="#"><img src="/static/images/ch2.jpg"></a>
        </div>
        <div class="col-md-1"></div>

        <div class="pic_wrapper col-md-2">
            <a href="#"><img src="/static/images/ch3.jpg"></a>
        </div>
        <div class="col-md-1"></div>

        <div class="pic_wrapper col-md-2">
            <a href="#"><img src="/static/images/ch4.jpg"></a>
        </div>
        <div class="col-md-1"></div>
    </div>

    <div class="row">
        <div class="pic_wrapper col-md-2">
            <a href="#"><img src="/static/images/ch5.jpg"></a>
        </div>
        <div class="col-md-1"></div>

        <div class="pic_wrapper col-md-2">
            <a href="#"><img src="/static/images/ch6.jpg"></a>
        </div>
        <div class="col-md-1"></div>

        <div class="pic_wrapper col-md-2">
            <a href="#"><img src="/static/images/ch7.jpg"></a>
        </div>
        <div class="col-md-1"></div>

        <div class="pic_wrapper col-md-2">
            <a href="#"><img src="/static/images/ch8.jpg"></a>
        </div>
        <div class="col-md-1"></div>
    </div>
{% endblock %}
