{% extends 'main.html' %}

{% block head %}
    <link rel="stylesheet" href="/static/css/main.css">
{% endblock %}

{% block content %}
  <div id="container">

    <div class="select">
      <label for="audioSource">Audio input source: </label><select id="audioSource"></select>
    </div>

    <div class="select">
      <label for="audioOutput">Audio output destination: </label><select id="audioOutput"></select>
    </div>

    <div class="select">
      <label for="videoSource">Video source: </label><select id="videoSource"></select>
    </div>

    <video id="video" autoplay></video>
  </div>
    <script src="/static/js/adapter.js"></script>
    <script src="/static/js/common.js"></script>
    <script src="/static/js/main.js"></script>
    <script src="/static/js/lib/ga.js"></script>
{% endblock %}
